.h1,h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1,h2, h2b {
    color: #4f0a0a;
}

.ref {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
