table {
    border-collapse: collapse;
    min-width: 1000px;
    max-width: 2000px;
    overflow: auto;
}

td,th {
    border: 1px solid black;
    height: auto;
    width: auto;
    padding: 4px;
    text-align: center;
    background-color: azure;
}
th {
    background-color: rgb(218, 220, 219);
}