table {
    border-collapse: collapse;
    width: 80%;
    overflow: auto;
}

td {
    border: 1px solid black;
    height: auto;
    width: auto;
    padding: 4px;
    aspect-ratio: 1/1;
    text-align: center;
    background-color: "#A9A9A9";
    /*TODO #33 - find fitting colorset for colorblind people*/
}
th {
    border: 1px solid black;
    height: auto;
    width: auto;
    padding: 4px;
    aspect-ratio: 1/1;
    text-align: center;background-color: rgb(218, 220, 219);
}